/* Ogólny styl kontenera */
.microcycle-container {
    display: flex;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styl zakładek */
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    list-style: none;
    margin: 0;
  }
  
  .react-tabs__tab {
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .react-tabs__tab--selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  /* Styl paneli zakładek */
  .react-tabs__tab-panel {
    display: none;
    padding: 20px;
    width: 80%;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  /* Dodatkowe style dla elementów wewnątrz paneli */
  .microcycle-details h3 {
    margin-top: 0;
    font-size: 1.5em;
  }
  
  .microcycle-details p {
    margin: 5px 0;
  }
  
  .microcycle-details strong {
    color: #333;
  }
  