label {
  display: block;
  margin-top: 10px;
}

.alinka {
  background-image: url('/public/images/IMG_20230828_172406806.jpg');
  background-size: cover;
  background-position: center; /* Ustaw początkową pozycję tła */
  transition: background-position 0.6s ease-in-out; /* Dodaj płynne przejście */
}

.alinka:hover {
  background-position: center 33%; /* Przesuń tło w górę przy najechaniu */
}

.input_workbook {
  display: flex;
  justify-content: flex-end;
}

ul li {
  display: flex;
  margin-bottom: 2px;
  border-radius: 0.25rem
}

.sa2 {
  height: 500px; 
  width: 100%;
}
.lista {
  /* height: 50px; */
  width: 100%;
}

.controls-section {
  display: flex;
}

.workbook-info {
  flex: 1; /* Elastyczny rozmiar, aby elementy były równe szerokości */
}

.workbook-actions {
  flex: 1; /* Elastyczny rozmiar, aby elementy były równe szerokości */
}



