body {
  background-image: url('https://scontent.flcj1-1.fna.fbcdn.net/v/t39.30808-6/351365386_218040787707966_1946718467962882789_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=QfVoLCZmUsEAX9YONGQ&_nc_ht=scontent.flcj1-1.fna&oh=00_AfDOWT9SIfA6t8T-K0twEup8epWh2gJXWl3PqfOusJ0hug&oe=6564FDFE');
  background-size: cover; /* Dodano, aby obraz zawsze wypełniał cały obszar tła */
  background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
  background-position: center center; /* Ustala pozycję obrazu na środku tła */

  /* Dostosuj szerokość do 100% szerokości strony */
  width: 100%;
  /* Dostosuj wysokość do 100% wysokości strony (opcjonalne, jeśli chcesz, aby obraz również wypełniał całą wysokość strony) */
  height: 100vh;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.container {
  background-color: #f7f7f7;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#bodyParams {
            padding: "10px";
            border: "1px solid #ccc";
            background-color: #007bff;
}
ul li {
  display: flex;
  margin-bottom: 10px;
  border-radius: 0.25rem
}