:root {
  --primary-color: #3772ad;  
  --secondary-color: #d7e9f3;  
  --accent-color: #e74c3c; 
  --dark-color: #333;
  --fake-white: #cccccc;
  --true-white: #ffffff;
  --shadow: 0 4px 8px 0 var(--fake-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('../public/images/background.png'); */
  background-image: url('../public/images/c8077901-db8b-4150-84a2-3ee68910d1e1.jpg');
  /* background-repeat: repeat; */
  background-size: 100%
}

::placeholder {
  text-align: center;
}

.form-field {
   width: 100%;
  padding: 6px; /* Dodaj padding dla lepszego wyglądu */
  box-sizing: border-box; /* Uwzględnia padding i obramowanie w szerokości */
  border: 3px solid var(--primary-color);   
  border-radius: 5px;
  box-shadow: var(--shadow);
  margin-left: auto;
}

.form-field:active {
  border: 3px solid var(--accent-color);   
}

ul {
  padding: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 5px 5px 5px 5px;
  flex-wrap: nowrap;
  box-shadow: var(--shadow);
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.nav-item {
  margin-right: 10px;
  display: flex;
}

.nav-link {
  color: var(--true-white);
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--fake-white);
  transform: scale(1.1);
}

.language-select {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  width: min-content;
  padding: 2px;
  border-radius: 2px;
  font-size: 10px;
  font-family: Arial, sans-serif;
}

.language-select option {
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

.ml-auto {
  margin-left: auto;
}

.field {
  height: 50px;
}

.card-container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--secondary-color);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: var(--shadow);
}

button {
  background-color: var(--primary-color);
  color: var(--true-white);
  padding: 0px 10px;
  border: 3px solid var(--primary-color);   
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition-duration: 0.4s;
  letter-spacing: 2px;
  box-sizing: border-box; 
}

button:hover {
  transform: scale(1.05);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100%;
}

.field-label img {
  height: 40px;
  padding: 0 20px 0 0;
  width: 50px;
}

.field-input {
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 10px;
  flex-grow: 1;
}

.centered-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-button div {
  padding: 0 0 10px 0;
}

@media (max-width: 768px) {
  body {
    font-size: 4vw;
  }

  .navbar {
    padding: 2vw 4vw;
  }

  .navbar-brand {
    font-size: 5vw;
  }

  .nav-link {
    font-size: 4vw;
  }

  button {
    font-size: 3vw;
  }

  table {
    font-size: 3vw;
  }

  .Collapsible__trigger {
    font-size: 3vw;
  }

  .Collapsible__contentInner {
    font-size: 3vw;
  }
}
